.low-opacity {
    background-image: url(https://images.unsplash.com/photo-1552604617-eea98aa27234?q=80&w=1413&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center; 
    min-height: 600px;
    display: grid; 
    place-content: center;
    text-align: center;
    position: relative;
    isolation: isolate;
    opacity: .9;
    background-color: orange;


}
.low-opacity ::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url(https://images.unsplash.com/photo-1552604617-eea98aa27234?q=80&w=1413&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    filter: blur(5px);
    isolation: isolate;

}
h1{
    color: white;
}
p{
    color: white;
}